.DS_Store
moc_*.cpp
moc_*.h
ui_*.h
Makefile*

src/*.o
src/ui_*.h
src/moc_*.cpp
src/moc_*.h
src/Makefile*
src/.qmake.stash

src/DengueME.pro.user
src/debug/ui_*.h
src/debug/moc_*.cpp
src/debug/moc_*.h
src/debug/.DS_Store
src/debug/dengueme.exe
src/debug/*.o

src/release/ui_*.h
src/release/moc_*.cpp
src/release/moc_*.h
src/release/dengueme.exe
src/release/.DS_Store
src/release/*.o

